header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 15vh;
   min-height: 80px;
}

header * {
   color: var(--medium-gray);
   transition: 0.2s color ease-in-out;
}

header a:hover,
header button:hover {
   color: var(--almost-black);
}

.header__nav-wrapper {
   display: flex;
   align-items: center;
   gap: 2.5rem;
}

nav > ul {
   display: flex;
   gap: 2.5rem;
}

.nav__menu-toggler {
   position: relative;
}

.menu-toggler a {
   display: flex;
   align-items: center;
   gap: .5rem;
}

.nav__menu-toggler svg {
   transform: rotate(180deg);
}

.nav__menu-toggler .submenu {
   display: flex;
}

.submenu {
   padding: .75rem 1.25rem;
   box-shadow: 2px 3px 39px 5px rgba(0,0,0,0.18)
   ;
   display: none;
   flex-direction: column;
   position: absolute;
   border-radius: .25rem;
   z-index: 10;
   left: -1rem;
}

.submenu > li {
   display: flex;
   gap: .5rem;
   align-items: center;
   padding: .5rem 0;
}

.header__login-wrapper {
   display: flex;
   gap: 2.5rem;
}

.header__login-wrapper button {
   cursor: pointer;
}

.login-wrapper-button {
   border: 1px solid var(--medium-gray);
   padding: 0.75rem 1rem;
   border-radius: 1rem;
}

.login-wrapper-button:hover {
   border-color: var(--almost-black);
}
